<!DOCTYPE html>
<html>
    <title> </title>
    <body>
        <h1>Today></h1> 
        <p>
        <% d = Date.today.strftime("%A") %>
        <% m = Date.today.strftime("%B %d") %>
        <% y = Date.today.strftime("%Y") %>
        <%= "The date is #{d}, #{m}, #{y}" %>
        </p>
    </body>
</html>